body{
  background-color: #e6f2ff;
  color: black;
}
.image-container
{
  display: flex;
  flex-direction: column;
}

#image {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  scroll-behavior: auto;
  overflow: auto;
}

navbar{
  width:auto;
  height: auto;
}

iframe {
  padding: 60px;
  display:block;
  margin:auto;
}

body#form{

  background-color: white;
  color: black;
}
